<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yezhaokang.estimatebase.module.deploy.dao.FileMapper">

    <select id="selectByPath" resultType="com.yezhaokang.estimatebase.module.deploy.entity.FileEntity">
        select *
        from file
        where stsCd='A' and CONCAT(path,fileName)=#{path}
        limit 1
    </select>

    <select id="selectFileList" resultType="com.yezhaokang.estimatebase.module.deploy.entity.FileEntity">
        select *
        from file
        where stsCd='A' and createBy=#{createBy}
    </select>

</mapper>


